//
// Input & Select & Textarea
// --------------------------------------------------


@input-width-default: 220px;
@input-line-height: @font-size-base + 6;
@input-padding-x: 10px;
@input-padding-y-base: (@input-height-base - 2 - @input-line-height) / 2;
@input-padding-y-small: (@input-height-small - 2 - @input-line-height) / 2;
@input-padding-y-large: (@input-height-large - 2 - @input-line-height) / 2;
@input-border-color: #a2a2a2;
@input-border-color-hover: darken(@input-border-color, 15%);
@input-border-color-focus: @primary-color;
@input-border-radius: 2px;
@input-shadow: none;


.z-input,
.z-textarea {
    color: @text-color-base;
    font-size: @font-size-base;
    font-weight: 400;
    font-family: @font-family-base;
    background-color: #fff;
    border: 1px solid @input-border-color;
    border-radius: @input-border-radius;
    outline: 0;
    box-shadow: @input-shadow;

    &:hover {
        border-color: @input-border-color-hover;
    }

    &:focus {
        border-color: @input-border-color-focus;
    }

    &[readonly] {
        cursor: default;
    }

    &[disabled],
    &:disabled {
        background-color: #f7f7f7 !important;
        color: @text-color-disabled !important;
        cursor: default;
    }

    &.light {
        padding-left: 5px;
        padding-right: 0;
        border-color: transparent;
        border-bottom-color: @input-border-color;
        border-radius: 0;
        box-shadow: none;

        &:hover {
            border-bottom-color: @input-border-color-hover;
        }

        &:focus {
            border-bottom-color: @input-border-color-focus;
        }
    }

    &.square {
        border-radius: 0;
    }

    &.round {
        padding-left: @input-padding-x + 5;
        padding-right: @input-padding-x + 5;
        border-radius: @input-round-radius;
    }

    &.gray {
        background-color: #f7f8fa;
    }

    &.success {
        color: @color-success;
        border-color: @color-success;
    }

    &.error {
        color: @color-error;
        border-color: @color-error;
    }

    &.warning {
        color: @color-warning;
        border-color: @color-warning;
    }

    &.inverted {
        color: #fff;
        border-color: #fff;
        background-color: transparent;

        &:focus {
            border-color: #fff;
        }
    }

    &.block {
        display: block;
        width: 100%;
    }
}

.z-input {
    width: @input-width-default;
    height: @input-height-base;
    padding: @input-padding-y-base @input-padding-x;
    line-height: @input-line-height;

    &.small {
        height: @input-height-small;
        padding-top: @input-padding-y-small;
        padding-bottom: @input-padding-y-small;
    }

    &.large {
        height: @input-height-large;
        padding-top: @input-padding-y-large;
        padding-bottom: @input-padding-y-large;
    }
}

.z-input.bold {
    border-width: 2px;
    padding: @input-padding-y-base - 1 @input-padding-x;

    &.small {
        padding: @input-padding-y-small - 1 @input-padding-x;
    }

    &.large {
        padding: @input-padding-y-large - 1 @input-padding-x;
    }
}

.z-textarea {
    width: auto;
    min-height: 90px;
    padding: @input-padding-x - 2 @input-padding-x;
    line-height: @line-height-base;
}

.z-input-file {
    position: relative;
    display: inline-flex;
    align-items: flex-end;

    > [type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 0;
        cursor: pointer;
        opacity: 0;
    }

    > .z-input {
        width: 200px;
        margin-left: 4px;
        padding-right: 20px;
    }

    > .z-remove-file {
        display: none;
        position: absolute;
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
        line-height: 1;
        color: #bbb;
        cursor: pointer;

        &:hover {
            color: #777;
        }
    }
}

.z-input-wrapper {
	position: relative;
    display: inline-block;
    width: @input-width-default;

    > .z-input {
    	width: 100%;

		&:first-child {
			padding-right: 32px;
		}

    	&:not(:first-child) {
    		padding-left: 32px;
    	}
    }

    > .z-input.light {
        &:first-child {
            padding-right: 28px;
        }

        &:not(:first-child) {
            padding-left: 28px;
        }
    }

    > i {
        display: inline-block;
        position: absolute;
        width: 32px;
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
        line-height: 1;
        font-size: @font-size-base;
    	color: @icon-color-default;

        &:first-child {
            left: 0;
        }

        &:last-child {
            right: 0;
        }
    }

    &.light > i {
        width: auto;

        &:first-child {
            padding-left: 8px;
            text-align: left;
        }

        &:last-child {
            padding-right: 8px;
            text-align: right;
        }
    }

    &.inverted > i {
        color: #fff;
    }
}

.z-input-wrapper.small {
    > .z-input {
        &:first-child {
            padding-right: 28px;
        }

        &:not(:first-child) {
            padding-left: 28px;
        }
    }

    > i {
        width: 28px;
        font-size: @font-size-base - 2;
    }
}

.z-input-wrapper.large {
    > .z-input {
        &:first-child {
            padding-right: 38px;
        }

        &:not(:first-child) {
            padding-left: 38px;
        }
    }

    > i {
        width: 38px;
        font-size: @font-size-base + 2;
    }
}

.z-input-group {
    position: relative;
    display: inline-flex;

	> .z-input,
    > .z-input-wrapper,
    > .z-input-addon,
    > .z-select,
    > .z-btn,
    > .z-btn-outline,
    > .z-select-wrapper {
        position: relative;

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:last-child) {
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
    }

    > .z-input,
    > .z-input-wrapper {
        flex: 1 1 auto;
    }

    > .z-input-addon {
        height: @input-height-base;
        padding: 0 12px;
        line-height: @input-height-base - 2;
        background-color: #f8f9fa;
        color: @text-color-base;
        font-size: @font-size-base;
        font-weight: 400;
        border: 1px solid @input-border-color;
        border-radius: @input-border-radius;

        > i {
            color: @icon-color-default;
        }

        &.small {
            height: @input-height-small;
            line-height: @input-height-small - 2;
            padding: 0 10px;
        }

        &.large {
            height: @input-height-large;
            line-height: @input-height-large - 2;
            padding: 0 16px;

            > i {
                font-size: 16px;
            }
        }
    }

    > .z-select-wrapper {
        &:last-child > .z-select-trigger {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:last-child) > .z-select-trigger {
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        
        &:not(:first-child):not(:last-child) > .z-select-trigger {
            border-radius: 0;
        }
    }
}